body {
  text-align: center;
  background-color: rgb(31, 9, 9);
  max-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
}

.container {
  display: block;
  /* background: black; */
}

.btn {
  box-sizing: border-box;
  margin: 1rem;
  display: inline-block;
  height: 10rem;
  width: 10rem;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: rgb(240, 240, 211);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}


/* Media Queries for tablet */
@media screen and (max-width : 1024px){

  body{
    min-height: 100vh;
  }
  .container {
      width : 86%;
      padding-bottom: 18rem;
  } 
  .btn{
    width: 12rem;
    height: 12rem;
  }
}



/* Media Queries for mobile */
@media screen and (max-width : 600px){
  .container {
      width : 90%;
  } 
  .btn{
    width: 18rem;
    height: 18rem;
  }
}